@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f5;
}

.btn__location {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ======= Buttons ======== */
/* Block */
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 48px;
  border-radius: 50px;
  cursor: pointer;
  width: 250px;
  max-width: 300px;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

/* Modifier */
.btn--size-l {
  padding: 16px 56px;
}

.btn--size-s {
  padding: 8px 32px;
}

.btn:hover {
  opacity: 0.8;
}

.btn + .btn {
  margin-bottom: 10px;
}

.btn--success {
  background-color: #71be34;
  margin-bottom: 10px;
}

.btn--warn {
  background-color: #ffb702;
}

.btn--info {
  background-color: #2F86EB;
}

.btn--danger {
  background-color: #ff623d;
}

.btn--disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.toast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 8px;
  width: 468px;
  background-color: #FFFFFF;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  margin-bottom: 20px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  z-index: 9999;
}

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
}

@-webkit-keyframes slide {
  from {
    opacity: 0;
    -webkit-transform: translateX(calc(100% + 32px));
            transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  from {
    opacity: 0;
    -webkit-transform: translateX(calc(100% + 32px));
            transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast__icon {
  padding-top: 12px;
  margin-left: 2px;
  font-size: 2.1rem;
}

.toast__body {
  margin: 3px 0 0 20px;
}

.toast__title {
  color: #bfc0c3;
  font-size: 1.3rem;
  color: #282C36;
}

.toast__msg {
  color: #bfc0c3;
  font-size: 1.3rem;
  font-size: 1rem;
}

.toast__close {
  color: #bfc0c3;
  font-size: 1.3rem;
  padding: 20px 8px 0 12px;
  font-size: 1.4rem;
  cursor: pointer;
}

.toast--success {
  border-left: 4px solid #47D764;
  color: #47D764;
}

.toast--info {
  border-left: 4px solid #2F86EB;
  color: #2F86EB;
}

.toast--warning {
  border-left: 4px solid #FFC021;
  color: #FFC021;
}

.toast--error {
  border-left: 4px solid #FF623D;
  color: #FF623D;
}
/*# sourceMappingURL=main.css.map */